<mat-toolbar color="primary" class="mat-elevation-z4">
  <img src="assets/logo.png" alt="Blog Pessoal" class="app-logo" />

  <span class="spacer"></span>

  <!-- Links de navegação conforme autenticação -->
  <ng-container *ngIf="auth.isAuthenticated(); else loggedOut">
    <button mat-button (click)="logout()">Logout</button>
    <button mat-button routerLink="/profile">Perfil</button>
  </ng-container>

  <ng-template #loggedOut>
    <button mat-button routerLink="/signup">Cadastrar</button>
    <button mat-button routerLink="/login">Login</button>
  </ng-template>
</mat-toolbar>

<main class="container">
  <router-outlet></router-outlet>
</main>

<app-footer></app-footer>
