<mat-card class="post-list-card mat-elevation-z2">
  <mat-card-title>Listar Postagens</mat-card-title>
  <mat-list>
    <mat-list-item *ngFor="let post of posts">
      <div class="item-content">
        <h3 matLine>{{ post.titulo }}</h3>
        <p matLine>{{ post.autor }} • {{ post.data | date:'short' }}</p>
      </div>
      <button mat-icon-button color="primary" (click)="onEdit(post.id)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="onDelete(post.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-list-item>
  </mat-list>
</mat-card>
